body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #528bed; /* Set background color for the whole page */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #121212;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #eb87f6; /* Set background color for the form section */
}

label {
    margin-bottom: 10px;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 20px;
    background-color: #e5f22c; /* Set background color for the output section */
    padding: 10px;
    border-radius: 5px;
}
